:root {
 --red: hsl(0, 78%, 62%);
 --cyan: hsl(180, 62%, 55%);
 --orange: hsl(34, 97%, 64%);
 --blue: hsl(212, 86%, 64%);
 --grey-500: hsl(234, 12%, 34%);
 --grey-400: hsl(212, 6%, 44%);
 --white: hsl(0, 0%, 100%);
}

/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/poppins-v24-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    background-color: var(--white);
    font-size: 0.938rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 20px;
    color: var(--grey-500);
    margin: 1rem;
}

header {
  text-align: center;
}

h1{
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 200;
}

h1 > span{
    font-weight: bold;
}

main{
    display: flex;

}

.card-info{
    display: grid;
    gap: 20px;
    margin: 0 auto;

}

.card{
    width: 320px;
    border-top: 4px solid;
    border-radius: 5px;
    padding: 1.6rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#card-one{
    border-top-color: var(--cyan);
}

#card-two{
    border-top-color: var(--red);
}

#card-three{
    border-top-color: var(--orange);
}

#card-four{
    border-top-color: var(--blue);
}

.card_icon{
    position: relative;
    left: 200px;
    width: 64px;
    height: 64px;
    padding: 10px 0;
}
.attribution { 
    padding: 20px;
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 950px){
    .card-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
    }

   #card-one {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  #card-two {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  #card-three{
    grid-column: 2;
    grid-row: 3 / 5;
  }

  #card-four {
    grid-column: 3;
    grid-row: 2 / 4;
  }
   
}